<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teachingonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="A1 Course"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeachingOnline"
        android:usesCleartextTraffic="true">

        <activity android:name=".Home"/>
        <activity android:name=".category_course"/>
        <activity android:name=".Dashboard" />
        <activity android:name=".AllCategories"/>
        <activity android:name=".CreateCourse"/>
        <activity android:name=".EditInstProfile"/>
        <activity android:name=".course_data"/>
        <activity android:name=".EnrollCourse"/>
        <activity android:name=".course_content"/>
        <activity android:name=".manage_course"/>
        <activity android:name=".view_payment_history"/>
        <activity android:name=".view_enrolled_courses"/>
        <activity android:name=".edit_student_profile"/>
        <activity android:name=".Lecture"/>

        <activity android:name=".InstructorSignUp" android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StudentSignUp" android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity android:name=".MainActivity" />
    </application>
    <meta-data
        android:name="com.google.android.gms.ads.AD_MANAGER_APP"
        android:value="true"/>

</manifest>